{% extends 'base.html' %}
{% load static %}

{% block title %}Department{% endblock %}

{% block content %}
    <div id="header"></div>
    <main id="main" class="main-page">
        <section id="speakers-details" class="wow fadeIn">
            <div class="container">
                <div class="section-header">
                    <h2>DEPARTMENT OF YOUTH WELFARE</h2>
                    <p>കൊച്ചി ശാസ്ത്ര സാങ്കേതിക സർവ്വകലാശാല</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img src='{% static 'app/img/about/about.jpg' %}' class="img-fluid"
                             alt="dept">
                    </div>

                    <div class="col-md-6">
                        <div class="details">
                            <div class="social">
                                <a href="https://www.youtube.com/@cusat1390"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.facebook.com/groups/welfarecusat"><i class="fa fa-facebook"></i></a>
                            </div>
                            <p>Started in 1978, the Department of Youth Welfare is a formal platform in the university
                                to design
                                and implement youth policy which includes the issues related to motivation,
                                participation,
                                promotion and socio-economic and cultural settings within which young people grow up.
                                The Department will act as a driving force for the student and youth community to
                                epitomise
                                their academic excellence through doing and learning. The Department is conducting
                                short-term
                                training programs in the areas of arts, soft skills, and personality development with an
                                objective
                                of achieving 5 C’s – Competence, Creativity, Confidence, Compassion, and Communication.
                            </p>
                            <h3>Our Vision</h3>
                            <p>
                                Create sense of values and social life among youth and students through inculcating
                                democratic, scientific and constructive thinking for physical and mental health.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="row mt-5">
                    <div class="details">
                        <h2>Our History</h2>
                        <p>
                            The long-cherished desire of the elite of the Greater Cochin for an independent Federal
                            University
                            with an emphasis on Science and Technology was fulfilled by the enacting of the Cochin
                            University
                            Act in 1972 by the Legislative Assembly of the Kerala State. Once the University was
                            formed the student community of the new University began to feel the urgent need for a
                            common platform to promote their corporate social and cultural life. The first act of
                            the University of Cochin in 1972 emphasized on starting of institutions like the
                            student’s advisory bureau, University extension boards, students’ cultural and debating
                            societies, national service scheme, national cadet corps, university athletic clubs,
                            etc.

                            Following the first act, the syndicate of the university held on 04.11.1978 considered
                            the item of starting of Youth Welfare Department along with the recommendation of the
                            standing committee and resolved to start the Department of Youth Welfare in the
                            University. It is also resolved to appoint Shri. N. Chandrasekhara Pillai School of
                            Management Studies as the first Director. The Sports Meet and Youth festival was
                            conducted under the auspices of Department of Youth Welfare. The competitions were
                            conducted zone-wise. A Physical Education Officer was appointed on 05th February 1983
                            and the Department of Physical Education started as a separate entity in 1991.
                            University teachers were given charge of the Director till 1990. Shri. Austin Joseph was
                            appointed as the first full-time Director, Students Welfare in 1990 and he joined in
                            service on 24.08.1990. A Unit of National Service Scheme started on the campus in 1992,
                            as the Director, Students Welfare as the first co-ordinator. After his retirement on
                            31.03.2002, teachers from various departments were given charge of the Director and NSS
                            developed as a separate wing under the programme coordinator. Dr. P K Baby joined the
                            service on 9th July 2009 as the second full-time Director.
                        </p>
                        <p>
                            <a class="heading-dept" data-toggle="collapse" href="#missionContent" role="button"
                               aria-expanded="false" aria-controls="missionContent">
                                + Our Mission
                            </a>
                        </p>
                        <div class="collapse" id="missionContent">
                            <div class="card card-body">
                                We aim for integrated youth development through:
                                <ul>
                                    <li>Educating student youth on various domains of academic knowledge related to
                                        personality, skill development, cultural studies, gender issues, environmental
                                        management, and other relevant areas of interest.
                                    </li>
                                    <li>Offer Short term Courses / Training programmes / orientation programmes /
                                        motivation sessions / camps.
                                    </li>
                                    <li>Conducting extension/outreach services.</li>
                                    <li>Providing advocacy services for students.</li>
                                    <li>Coordinating students’ arts and cultural activities.</li>
                                    <li>Conducting academic and action research in the areas of social, cultural,
                                        economic, and political domains.
                                    </li>
                                    <li>Facilitate both tangible and intangible welfare programmes and procedures.</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            <a class="heading-dept" data-toggle="collapse" href="#missionContent" role="button"
                               aria-expanded="false" aria-controls="missionContent">
                                + Major Areas Of Intervention
                            </a>
                        </p>
                        <div class="collapse" id="missionContent">
                            <div class="card card-body">
                                <ul>
                                    <li>Environment and Sustainable Development</li>
                                    <li>Skills for 21st Century</li>
                                    <li>Creating Values: Scientific Temper</li>
                                    <li>Societal Intervention and Cultural Exchange</li>
                                    <li>Student Advocacy Services (SAS)</li>
                                    <li>Creating Global Exposure (GE)</li>
                                    <li>Student Social Responsibility (SSR)</li>
                                    <li>Competence in Arts and Culture</li>
                                    <li>Youth Research</li>
                                </ul>

                            </div>
                        </div>
                        <p>
                            <a class="heading-dept" data-toggle="collapse" href="#missionContent" role="button"
                               aria-expanded="false" aria-controls="missionContent">
                                + Our Activities
                            </a>
                        </p>
                        <div class="collapse" id="missionContent">
                            <div class="card card-body">
                                <ul>
                                    <li>Green Room: Cultivating Creativity – skill development workshop</li>
                                    <li>Monsoon Madness: Experiencing Nature – nature camp</li>
                                    <li>Back Village: Education through Experience</li>
                                    <li>Frames: Photography/editing workshops</li>
                                    <li>Sound of Music: Music Workshop</li>
                                    <li>Theatre/acting Workshops</li>
                                    <li>Popular Science lecture series</li>
                                    <li>South Zone & All India Inter-University Youth Festivals</li>
                                    <li>CUSAT Model United Nations</li>
                                    <li>Technical workshops</li>
                                </ul>

                            </div>
                        </div>
                        <p>
                            <a class="heading-dept" data-toggle="collapse" href="#missionContent" role="button"
                               aria-expanded="false" aria-controls="missionContent">
                                + Youth Research
                            </a>
                        </p>
                        <div class="collapse" id="missionContent">
                            <div class="card card-body">
                                <p>
                                    The department examines different living conditions and settings of young people in
                                    the interest of university and society at large, as well as specific aspects, in an
                                    academic as well as applied interest. It will undertake academic and applied
                                    projects / surveys with the financial aid of UGC / AICTE and various national and
                                    international agencies without any financial liability to the university.
                                </p>
                            </div>
                        </div>
                        <p>
                            <a class="heading-dept" data-toggle="collapse" href="#missionContent" role="button"
                               aria-expanded="false" aria-controls="missionContent">
                                + Placements
                            </a>
                        </p>
                        <div class="collapse" id="missionContent">
                            <div class="card card-body">
                                <p>
                                    The department will provide assistance to various departments in connection with
                                    placements. Keep records of all placement activities in university as a whole and
                                    promote inter Departmental relations with respect to placements.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
