{% extends 'base.html' %}
{% load static %}

{% block title %}Department{% endblock %}

{% block content %}
    <main id="main" class="main-page">
        <section id="speakers-details" class="wow fadeIn">
            <div class="container">
                {% for director in directors %}
                    <div class="section-header">
                        <h2>{{ director.name }}</h2>
                        <p>{{ director.position }}</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <img src='{{ director.image.url }}' class="img-fluid"
                                 alt="director">
                        </div>

                        <div class="col-md-6">
                            <div class="details">
                                <div class="social mt-4">
                                    <a href="{{ director.twitter }}"><i class="fa fa-twitter"></i></a>
                                    <a href="{{ director.facebook }}"><i class="fa fa-facebook"></i></a>
                                    <a href="{{ director.google }}"><i class="fa fa-google-plus"></i></a>
                                    <a href="{{ director.linkedin }}"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <p>{{ director.about|safe }}</p>
                                <a href="{{ director.biodata.url }}">
                                    <button class="about-btn mt-3">
                                        Detailed Biodata
                                    </button>
                                </a>
                            </div>
                        </div>

                    </div>

                    <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">
                    <div class="row contact-info">
                        <div class="col-md-4">
                            <div class="contact-address">
                                <i class="ion-ios-location-outline"></i>
                                <h3>Address</h3>
                                <address>{{ director.address| safe }}</address>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="contact-phone">
                                <i class="ion-ios-telephone-outline"></i>
                                <h3>Phone Number</h3>
                                <p>{{ director.phone }}</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="contact-email">
                                <i class="ion-ios-email-outline"></i>
                                <h3>Email</h3>
                                <p><a href="mailto:{{ director.email }}">{{ director.email }}</a></p>
                            </div>
                        </div>

                    </div>
            </div>
        </section><!-- #contact -->

                {% endfor %}
            </div>
        </section>

    </main>
{% endblock %}
