<!--==========================
    Footer
  ============================-->
{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-7 footer-info">

                </div>

                <div class="col-lg-4 col-md-7 footer-contact">
                    <a href="#main"><img class="footer-logo" src="{% static "/app/img/logo/logo.png" %}"></a>
                    <div class="social-links">
                        <a href="https://www.youtube.com/@cusat1390" class="twitter"><i class="fa fa-youtube"></i></a>
                        <a href="https://www.facebook.com/groups/welfarecusat" class="facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                    <p>
                        Second Floor, Amenity Centre,<br>
                        Cochin University of Science and Technology, <br>
                        South Kalamassery,<br>
                        Kalamassery, Kochi,<br>
                        Kerala 682022
                    </p>
                    <div class="mt-3">
                        <a href="https://www.cusat.ac.in/"> <i class="fa fa-angle-right"></i> Visit Cusat Website</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong> Department of Youth Welfare,CUSAT </strong>. All Rights Reserved
        </div>
        <div class="credits">
            <a href="https://bootstrapmade.com/"></a>
        </div>
    </div>
</footer><!-- #footer -->
