<!--==========================
    Header
  ============================-->
{% load static %}
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#intro" class="scrollto"><img src="{% static 'app/img/logo/cusat.png' %}" alt="" title=""></a>
            <a href="#intro" class="scrollto header-logo"><img src="{% static 'app/img/logo/logo.png' %}" alt="" title=""></a>
        </div>

        <nav id="nav-menu-container" class="topnav">
            <div class="nav-menu">
                <a href="index.html">Home</a>
                <a>
                    <div class="dropdown">
                        <button class="dropbtn">About<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Department</a>
                            <a href="#">Director</a>
                        </div>
                    </div>
                </a>
                <a>
                    <div class="dropdown">
                        <button class="dropbtn">Programme<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Current Programs</a>
                            <a href="#">Events</a>
                            <a href="#">News</a>
                            <a href="#">Feedback</a>
                        </div>
                    </div>
                </a>
                <a>
                <div class="dropdown">
                        <button class="dropbtn">Academics<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Courses or training</a>
                            <a href="#">Annual Reports</a>
                            <a href="#">Grace Marks</a>
                            <a href="#">Student Aid Fund</a>
                        </div>
                    </div>
                </a>    
                <a>
                    <div class="dropdown">
                        <button class="dropbtn">Campus Activities<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Campus Clubs</a>
                            <a href="#">NSS</a>
                            <a href="#">EBSB</a>
                        </div>
                    </div>
                </a>
                <a>
                    <div class="dropdown">
                        <button class="dropbtn">Contacts<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Contact us</a>
                            <a href="#">Essential Contacts</a>
                        </div>
                    </div>
                </a>
                <a>
                    <div class="dropdown">
                        <button class="dropbtn">Other Essentials<i style="margin-left: 3px;" class="fa fa-angle-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">University Union</a>
                            <a href="#">Anti Ragging</a>
                            <a href="#">University Orders</a>
                            <a href="#">Student Counselling Services</a>
                            <a href="#">Alumni</a>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0);" class="icon" type="button"  onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

