<!--==========================
Header
============================-->
{% load static %}
<header id="header">
    <div class="container">
        <button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>

        <div id="logo" class="pull-left">
            <a href="https://www.cusat.ac.in/" class="scrollto"><img src="{% static 'app/img/logo/cusat.png' %}" alt=""
                                                                     title=""></a>
            <a href="{% url 'index' %}" class="scrollto header-logo"><img src="{% static 'app/img/logo/logo.png' %}"
                                                                          alt="" title=""></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="menu-has-children"><a href="">About</a>
                    <ul>
                        <li><a href="{% url 'department' %}">Department</a></li>
                        <li><a href="{% url 'director' %}">Director</a></li>
                        <li><a href="{% url 'administration_view' %}">Administration</a> </li>
                        <li><a href="{% url 'contact_us' %}">Contact us</a></li>
                        <li><a href="{% url 'essential_info' %}">Essential Info</a></li>
                        <li><a href="{% url 'feedback' %}">Feedback</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'current_program' %}">Programs</a></li>
                <li><a href="{% url 'annual_reports' %}">Reports</a></li>
                <li><a href="{% url 'program_list' %}">Gallery</a></li>
                <li class="menu-has-children"><a href="">Disclosure</a>
                    <ul>
                        <li><a href="{% url 'show_orders' %}">University Orders</a></li>
                        <li><a href="{% url 'anti_ragging' %}">Anti Ragging</a></li>
                        <li><a href="{% url 'grace_marks' %}">Grace Marks</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Scholarships</a>
                    <ul>
                        <li><a href="{% url 'student_aid_fund' %}">Student Aid Fund</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Academics</a>
                    <ul>
                        <li><a href="{% url 'courses_view' %}">Courses/Training</a></li>
                        <li><a href="{% url 'research_view' %}">Research</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Campus</a>
                    <ul>
                        <li><a href="{% url 'clubs' %}">Campus clubs</a></li>
                        <li><a href="{% url 'nss_units' %}">NSS</a></li>
                        <li><a href="{% url 'union_view' %}">University Union</a></li>
                        <li><a href="#">Cusat Radio</a></li>
                    </ul>
                </li>
                <li class="menu-has-children"><a href="">Facilities</a>
                    <ul>
                        <li><a href="{% url 'counselling' %}">Student Counselling Services</a></li>
                        <li><a href="{% url 'health_centre_view' %}">Health Centre</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
