{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Department of Youth Welfare Cusat</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'app/img/logo/logo.png' %}" rel="icon">
    <link href="{% static 'app/img/logo/logo.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="{% static 'app/lib/bootstrap/css/bootstrap.min.css' %}">

    <!-- Libraries CSS Files -->
    <link href="{% static 'app/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/testimonial.css' %}" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>

<body>

{% include "app/header.html" %}

<section id="intro">
    <div class="intro-container wow fadeIn">
    </div>
</section>

<main id="main">
    <section id="about" style="margin-top: 1px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Department of Youth Welfare</h3>
                    <h3>Cochin University Of Science and Technology</h3>
                    <h3>യുവജനക്ഷേമ വകുപ്പ്</h3>
                    <h3>കൊച്ചി ശാസ്ത്ര സാങ്കേതിക സർവ്വകലാശാല</h3>
                    <div class="details">
                        <div class="social">
                            <a href="https://www.youtube.com/@cusat1390"><i class="fa fa-youtube"></i></a>
                            <a href="https://www.facebook.com/groups/welfarecusat"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>
                    <p>Started in 1978, the Department of Youth Welfare is a formal platform in the university to
                        design and implement youth policy which includes the issues related to motivation, participation
                        , promotion and socio-economic and cultural settings within which young people grow up.
                        The Department will act as a driving force for the student and youth community to epitomise
                        their academic excellence through doing and learning. The Department is conducting short-term
                        training programs in the areas of arts, soft skills, and personality development with an
                        objective of achieving 5 C’s – Competence, Creativity, Confidence, Compassion, and
                        Communication.
                    </p>
                    <h3>HISTORY</h3>
                    <p>
                        The long-cherished desire of the elite of the Greater Cochin for an independent Federal
                        University
                        with an emphasis on Science and Technology was fulfilled by the enacting of the Cochin
                        University
                        Act in 1972 by the Legislative Assembly of the Kerala State. Once the University was formed the
                        student community of the new University began to feel the urgent need for a common platform to
                        promote their corporate social and cultural life. The first act of the University of Cochin in
                        1972 emphasized on starting of institutions like the student’s advisory bureau, University
                        extension
                        boards, students’ cultural and debating societies, national service scheme, national cadet
                        corps,
                        university athletic clubs, etc.
                        Following the first act, the syndicate of the university held on 04.11.1978 considered the
                        item of starting of Youth Welfare Department along with the recommendation of the standing
                        committee and resolved to start the Department of Youth Welfare in the University. It is also
                        resolved to appoint Shri. N. Chandrasekhara Pillai School of Management Studies as the first
                        Director. The Sports Meet and Youth festival was conducted under the auspices of Department of
                        Youth Welfare. The competitions were conducted zone-wise. A Physical Education Officer was
                        appointed on 05th February 1983 and the Department of Physical Education started as a separate
                        entity in 1991. University teachers were given charge of the Director till 1990.
                        Shri. Austin Joseph was appointed as the first full-time Director, Students Welfare in 1990 and
                        he joined in service on 24.08.1990. A Unit of National Service Scheme started on the campus in
                        1992, as the Director, Students Welfare as the first co-ordinator. After his retirement on
                        31.03.2002, teachers from various departments were given charge of the Director and NSS
                        developed as a separate wing under the programme coordinator. Dr. P K Baby joined the service
                        on 9th July 2009 as the second full-time Director.
                    </p>
                </div>
                <div class="col-lg-3">
                    <h3>Sargam Results</h3>
                    {% for result in sargam_results %}
                        <a href="{{ result.individual_results.url }}" class="scrollto about-btn" target="_blank">Individual Items</a>
                        <a href="{{ result.group_results.url }}" class="scrollto about-btn">Group Items</a>
                        <hr>
                    {% endfor %}
                    <h3>News and Events</h3>
                    {% for news_and_event in news_and_events %}
                        <p class="news-heading">{{ news_and_event.title }}</p>
                        <p>Last Date for Reg: {{ news_and_event.last_date_registration }}</p>
                        <a href="{{ news_and_event.details_pdf.url }}" class="scrollto about-btn" target="_blank">View
                            Details</a>
                        <a href="{{ news_and_event.registration_link }}" class="scrollto about-btn">Register now</a>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="logo-wall">
        <div class="">

        </div>
    </section>

    {#event section#}
    <section id="speakers" class="wow fadeInUp">
        <div class="container">
            <div class="section-header section-header-home">
                <h2>Events</h2>
            </div>

            <div class="row">
                {% for event in events %}
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker">
                            <a href="{{ event.get_absolute_url }}">
                                <img src="{{ event.cover_image.url }}" alt="{{ event.name }}"
                                     class="img-fluid event-image">
                                <div class="details">
                                    <h3>{{ event.name }}</h3>
                                    <p>{{ event.date }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {#event ends#}

    {#testimonial section#}
    <div class="section-header section-header-home">
        <h2>Testimonials</h2>
    </div>
    <section class="testimonial-container">
        {% for testimonial in testimonials %}
            <figure class="snip1192">
                <blockquote>{{ testimonial.testimonial }}</blockquote>
                <div class="author">
                    {% if testimonial.photo %}
                        <img src="{{ testimonial.photo.url }}" alt="profile photo"/>
                    {% endif %}
                    <h6>{{ testimonial.name }}<span>{{ testimonial.position }}</span></h6>
                </div>
            </figure>
        {% endfor %}
    </section>

    {#testimonial end#}

    {#News Section#}
    <section id="hotels" class="section-with-bg wow fadeInUp">
        <div class="container">
            <div class="section-header section-header-home">
                <h2>News</h2>
            </div>
            <div class="row">
                {% for news_item in news_items %}
                    <div class="col-lg-4 col-md-6">
                        <div class="hotel">
                            <div class="hotel-img">
                                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
                            </div>
                            <div class="hotel-title">
                                <h3><a href="{% url 'news_detail' pk=news_item.pk %}">{{ news_item.title }}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {#news end#}

    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">
        <div class="container-fluid">
            <div class="section-header section-header-home">
                <h2>Visit us at</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 venue-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.6862575981586!2d76.32621917450896!3d10.04272757229913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c37883a87ad%3A0x58b12474afa1648f!2sDepartment%20Of%20Youth%20Welfare!5e0!3m2!1sen!2sin!4v1707506361317!5m2!1sen!2sin"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                            <h3>Department Of Youth Welfare, CUSAT</h3>
                            <p>28VH+3GM,<br>
                                Second Floor,<br>
                                Amenity Centre,<br>
                                University Road, CUSAT,<br>
                                South Kalamassery, Kalamassery,<br>
                                Kochi, Kerala 682022</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--==========================
      Venue Section Ends
    ============================-->
    {% include "app/footer.html" %}
</main>
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- JavaScript Libraries -->
<script src="{% static 'app/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'app/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'app/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'app/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'app/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'app/lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'app/js/main.js' %}"></script>

</body>

</html>


