<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MARICON</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <!--    <link href="img/favicon.png" rel="icon">-->
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("header2.html");
            $("#footer").load("footer.html");
        });
    </script>
</head>

<body>
<div id="header"></div>
<main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
        <div class="container">
            <div class="section-header">
                <h2>Background</h2>
                <p>Praesentium ut qui possimus sapiente nulla.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img style="margin-top: 30px;" src="img/lsc-bg.jpg" alt="Speaker 1" class="img-fluid">
                    <img style="margin-top: 10px;" src="img/lcp-bg-2.jpeg" alt="Speaker 1" class="img-fluid">
                </div>

                <div class="col-md-6">
                    <div class="details">
                        <h2>Brenden Legros</h2>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                        <p>School of Marine Sciences of Cochin University of Science and Technology (CUSAT) is the only
                            one of its kind in India encompassing all branches of Marine Sciences such as Marine Biology,
                            Marine Geology and Geophysics, Physical Oceanography, Chemical Oceanography and Atmospheric
                            Sciences under amm umberella. Over the years, School of Marine Sciences  at CUSAT has played
                            vital role in developing Marine Sciences in the country and has spawned many eminent
                            personalities in that process, who are now adorning key positions in  Marine Science
                            Institutions in the country and abroad. School of Marine Sciences also play active role in
                            implementing Marine Science related projects in the country with the help of funding from
                            various central and state institutions. Recognizing the contributions of the school of marine
                            sciences, CUSAT, Ministry of Earth Sciences (MoES, Govt. of India) has instituted an Ocean
                            Sciences and Technology Cell (OSTC) at CUSAT which was later renamed as Earth Science and
                            Technology Cell (ESTC). The school of Marine Sciences has now completed 80 years of glorious
                            existence and to commemorate this occasion it has been decided to organize the first
                            International Conference on Frontiers in Marine Sciences (MARICON’19) and MARICON’23 is the
                            second one in the genesis of this seminar. The proposed International Seminar intends to
                            provide a platform for leading scientists, teachers, researchers and students from Marine
                            Sciences to discuss and exchange ideas in this frontier research area. The deliberations
                            will keynote include, keynote addresses, invited lectures, oral and poster presentations.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>
<div id="footer"></div>
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/venobox/venobox.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
</body>

</html>
