{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="schedule" class="section-with-bg mt-5">
        <div class="container wow fadeInUp mt-5">
            <div class="section-header" style="margin-top: 70px">
                <h2>Clubs</h2>
                <p>For effective implementation of the students’ welfare programmes, the University can constitute various
                clubs, such as theatre club, music club, film club, quiz and debate club etc. in consultation with
                students union.</p>
            </div>

            <div class="container mt-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Club</th>
                        <th>Coordinator</th>
                        <th>Mobile</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for club in clubs %}
                        <tr>
                            <td>{{ club.name }}</td>
                            <td>{{ club.coordinator }}</td>
                            <td>{{ club.mobile }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>

{% endblock %}
