{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="section-header" style="margin-top: 70px">
        <h2>National Service Scheme (NSS) </h2>
        <img src="{% static 'app/img/campus_activities/nss.jpg' %}" alt="nss-logo" style="width: 90px">
    </div>
    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <th>Program Coordinator Name</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
            {% for unit in nss_units %}
                <tr>
                    <td>{{ unit.coordinator_name }}</td>
                    <td>{{ unit.phone_number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
