{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2 class="mb-3">Campus Life at CUSAT</h2>
            <p>Campus life provides several activities to students. Apart from studies, students want to participate in their fields of interest. Connecting campus with the community is the most important among them. Campus Radio (CR) has been widely used across the world to provide information to the stakeholders of the institute on various issues related to information about their local needs, employment news, issues related to climate, health, economy, popular science messages, art and cultural activities and act as a vehicle for positive political change. The establishment of a campus radio station will provide opportunities for students to explore their abilities. They can better communicate with society.</p>
            <p>As the cultural and intelligent cream of the state, the syndicate of Cochin University of Science and Technology (CUSAT) resolved to establish a campus radio by using the potential of students, teachers, researchers, scientists, and staff of the University.</p>
            <h3 class="mt-4">Benefits</h3>
            <ul>
                <li>Best and cost-effective means for providing information to the people on campus and outside.</li>
                <li>Better rapport with alumni and other related organisations.</li>
                <li>Best way to communicate with society and work as a tool for social change.</li>
                <li>Students will get experience in management, engineering, art, and organisation.</li>
                <li>Know-how and skills of the students, teachers, researchers, and staff can be used for social change and nation-building.</li>
                <li>Improve scientific temper among the social community.</li>
                <li>Better linkage with local people, NGOs, Local Self Governments, and the community.</li>
                <li>To act as a problem-solving catalyst during disasters, mishaps, and emergencies.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
