{% extends 'base.html' %}

{% block content %}
    <div class="section-header" style="margin-top: 75px">
        <h2>University Orders</h2>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Order Name</th>
                    <th>Download PDF</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.name }}</td>
                    <td><a href="{{ order.order_pdf.url }}" target="_blank">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
