{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="section-header">
        <h2>Health Center</h2>
        <p>The University Health Centre, managed by a medical officer and supported by Para-medical staff caters to the
            medical needs of the university community. The health centre functions from 10.00 am pm to 06.00 pm.
            Patients can walk in for consultation and treatment</p>
        <p>Consultation Time: 10:00 am - 06:00 pm</p>
    </div>
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Qualification</th>
                    <th>Contact Number</th>
                    <th>Office Contact</th>
                </tr>
                </thead>
                <tbody>
                {% for info in infos %}
                    <tr>
                        <td>{{ info.name }}</td>
                        <td>{{ info.designation }}</td>
                        <td>{{ info.qualification }}</td>
                        <td>{{ info.contact }}</td>
                        <td>{{ info.office_contact }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
