{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="section-header">
        <h2>Administration</h2>
    </div>
    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Contact</th>
                </tr>
                </thead>
                <tbody>
                {% for info in infos %}
                    <tr>
                        <td>{{ info.name }}</td>
                        <td>{{ info.designation }}</td>
                        <td>{{ info.contact }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
