{% extends 'base.html' %}

{% block content %}
    <div class="section-header" style="margin-top: 75px">
        <h2>Courses</h2>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Course/Training</th>
                <th>Duration and Time</th>
                <th>Details</th>
                <th>Report</th>
                <th>Registration Link</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.course }}</td>
                    <td>{{ course.duration_and_date }}</td>
                    <td><a href="{{ course.details.url }}" target="_blank">View Details</a></td>
                    <td><a href="{{ course.report.url }}" target="_blank">View Report</a></td>
                    <td><a href="{{ course.registration_link.url }}" target="_blank">Click to Register</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
