{% extends 'base.html' %}

{% block content %}
    <div class="section-header" style="margin-top: 75px">
        <h2>Research</h2>
    </div>
    <div class="container scrollable-table">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Research Area</th>
                <th>Category</th>
                <th>Department/University</th>
                <th>Research Supervisor</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for research in researches %}
                <tr>
                    <td>{{ research.name }}</td>
                    <td>{{ research.research_area }}</td>
                    <td>{{ research.category }}</td>
                    <td>{{ research.department_or_university }}</td>
                    <td>{{ research.research_supervisor }}</td>
                    <td>{{ research.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
